

  <% if @colors.first %>

    <% @colors.each do |color| %>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" style="background-color: <%= color.hexcode %>;">
      	<div class="color-section text-center">
        <!-- <h4 ><%= color.name %></h4> -->
        <h3><%= color.hexcode %></h3>
       <!--  <% if color.user %>
          <p>By: <span class="email"><%= color.user.try(:email) %></span></p>
        <% end %> -->

        <div class="links-container">
          <%= link_to 'Show', color %>

          <% if color.user == current_user %>
            <%= link_to 'Edit', edit_color_path(color) %>
          <% end %>
        </div>
      </div>


      </div>
    <% end %>

  <% else %>
    <div class="container text-center no-colors">
      <p class="large serif">Uh oh!</p>
      <p class="large sans">It appears that you're living in a black &amp; white world.<br>Why not add a little colour by clicking the link below?</p>
      <!-- <a class="large serif" href=""> + Add A Colour. </a> -->
      <%= link_to '+ Add a Colour', new_color_path, class: 'large serif' %>
    </div>
  <% end -%>



