<div class="row">

    <% @colors.each do |color| %>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" style="background-color: <%= color.hexcode %>;">
      	<div class="color-section">
        <h4 ><%= color.name %></h4>
        <p><%= color.hexcode %></p>
        <% if color.user %>
          <p>By: <%= color.user.try(:email) %></p>
        <% end %>
        <%= link_to 'Show', color %>

        <% if color.user == current_user %>
          <%= link_to 'Edit', edit_color_path(color) %>
        <% end %>
      </div>
      </div>
    <% end %>

</div>


