<nav class="navbar navbar-default" role="navigation">
	<div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<ul class="nav navbar-nav navbar-left">
		<% if !current_page?(root_url) %>
			<li><%= link_to "Colour-Full", root_path, class: "navbar-brand" %></li>
		<% end -%>
		 
</li>
		</ul>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav navbar-left">
			<li class="dropdown">
				<a href="#" class="btn btn-default btn-bold dropdown-toggle" id="colorsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Colours
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="colorsMenu">
					<li><%= link_to "Explore", colors_path, class: "btn btn-default btn-bold" %></li>
					<% if user_signed_in? %>
							<li><%= link_to "My Colours", colors_path(id: current_user.id ), class: "btn btn-default btn-bold text-left" %></li>
							<li><%= link_to '+ New Colour', new_color_path, class: "btn btn-default btn-bold text-left" %></li>
					<% end -%>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="btn btn-default btn-bold dropdown-toggle" id="palettesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Palettes
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="palettesMenu">
					<li><%= link_to "Explore", palettes_path, class: "btn btn-default btn-bold" %></li>
					<% if user_signed_in? %>
							<li><%= link_to "My Palettes", palettes_path(id: current_user.id ), class: "btn btn-default btn-bold text-left" %></li>
							<li><%= link_to '+ New Palette', new_palette_path, class: "btn btn-default btn-bold text-left" %></li>
					<% end -%>
				</ul>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
		<% if user_signed_in? %>
			<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
			<li><%= link_to "Settings", edit_user_registration_path %></li>
		<% else %>
			<li><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default" %></li>
			<li><%= link_to "Login", new_user_session_path, class: "btn btn-default" %></li>
		<% end %>
		</ul>
	</div><!-- /.navbar-collapse -->
	</div><!-- end of container -->
</nav>